<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
      <add key="RemoteServer" value="http://10.5.35.35:25564/" />
      <add key="VGTropesURL" value="http://107.170.92.50"/>
      <add key="GDPWikiURL" value="http://virt10.itu.chalmers.se/index.php/Main_Page"/>
    </appSettings> 
</configuration>
